@model StackElmoreFlow.Models.Question

@{
    ViewBag.Title = "QuestionView";
}

<h2>@Model.Title</h2>


<ul>
@*@foreach (StackElmoreFlow.Models.Answer a in Model.Answers) {
    <li>@a.Body</li>
}*@
</ul>